<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Add Customization</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">

</head>

<body>

<div class="container">

    <h1>
        Add Customization
    </h1>

    <h2>

        Food:

        <span
                th:text="${food.name}">
        </span>

    </h2>

    <hr>

    <form
            th:action="@{/admin/customizations/save}"
            th:object="${option}"
            method="post">


        <input
                type="hidden"
                th:field="*{id}">


        <input
                type="hidden"
                th:field="*{food.id}">


        <label>
            Option Name
        </label>

        <br>

        <input
                type="text"
                th:field="*{name}"
                placeholder="Extra Cheese"
                required>

        <br><br>


        <label>
            Customization Type
        </label>

        <br>

        <select th:field="*{type}">

            <option value="ADD">
                ADD
            </option>

            <option value="REMOVE">
                REMOVE
            </option>

        </select>

        <br><br>


        <label>
            Price Adjustment
        </label>

        <br>

        <input
                type="number"
                step="0.01"
                th:field="*{priceAdjustment}">

        <br><br>


        <h2>
            Nutrition Adjustment
        </h2>


        <label>
            Calories
        </label>

        <br>

        <input
                type="number"
                step="0.01"
                th:field="*{calories}">

        <br><br>


        <label>
            Protein (g)
        </label>

        <br>

        <input
                type="number"
                step="0.01"
                th:field="*{protein}">

        <br><br>


        <label>
            Carbohydrates (g)
        </label>

        <br>

        <input
                type="number"
                step="0.01"
                th:field="*{carbohydrates}">

        <br><br>


        <label>
            Fats (g)
        </label>

        <br>

        <input
                type="number"
                step="0.01"
                th:field="*{fats}">

        <br><br>


        <label>
            Fiber (g)
        </label>

        <br>

        <input
                type="number"
                step="0.01"
                th:field="*{fiber}">

        <br><br>


        <label>
            Magnesium (mg)
        </label>

        <br>

        <input
                type="number"
                step="0.01"
                th:field="*{magnesium}">

        <br><br>


        <label>

            <input
                    type="checkbox"
                    th:field="*{available}">

            Available

        </label>

        <br><br>


        <button type="submit">

            Save Customization

        </button>

    </form>

</div>

</body>

</html>